@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:aquamarine;
    font-family: 'Varela Round', sans-serif;
}
.top{
    background-color: aquamarine;
    width: 100%;
    height: 140vh;
}
.nav-head{
    border: 3px solid black;
    background-color: white;
    width: 100%;
    height: 10vh;
}
.nav-head a{
    outline: none;
}
h1{
    color:black ;
    width: 10vw;
    margin-left: 45vw;
    margin-top: 10vh;
}
.logo img{
    width: 10vw;
    margin-left: 33vw;
    margin-top: -25vh;
    border: 2px solid black;
    border-radius: 50%;
}
.menu{
    width: 10vw;
    margin-left: 45vw;
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-top: -1vh;
}
.menu p{
    border: 1px solid black;
    border-radius: 5vw;
    background-color: rgb(3, 110, 110);
    list-style: none;
    padding: 20px 50px;
    margin:4vw;
    margin-top: 18vh;
    box-shadow: 3px 3px 5px 3px;
    transition: transform .1s;
    cursor:pointer;
}
.menu p:hover{
    transform: scale(1.2);
}

.ligne{
    margin: 64px 0;
    width: 100%;
    height: 2px;
}
.botom{
    border: 5px solid gb(3, 110, 110);
    border-radius: 1vw;
    background-color:rgb(3, 110, 110);
    width: 100%;
    height: 265vh;
}
.devise{
    width:20vw;
    font-size: 100%;
    vertical-align: baseline;
    text-align: center;
    padding:10px 50px;
    margin-top: 1vh;
    margin-left: 37vw;
    font-size: 1.78em;
}
.abonner{
    width:20vw;
    font-size: 100%;
    vertical-align: baseline;
    border-radius: 5vw;
    background-color: rgb(3, 110, 110);
    text-align: center;
    padding:50px 50px;
    margin-left: 37vw;
    box-shadow: 4px 4px 5px 3px;
    transition: transform .1s;
    cursor:pointer;
}
.abonner:hover{
    transform: scale(1.15);
}
.bordure{
    border: 5px solid black;
    border-radius: 1vw;
    border-bottom-left-radius: 0vw  ;
    border-bottom-right-radius: 0vw  ;
    border-bottom: 0;
    width: 70vw;
    margin-left: 15vw;
    margin-top:10vh;
}
.fond{
    border: 5px solid black;
    border-radius: 1vw;
    border-top-left-radius: 0vw  ;
    border-top-right-radius: 0vw  ;
    border-top: 0;
    width: 70vw;
    margin-left: 15vw;
    margin-top: -0.5vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.split{
    border: 3px solid grey;
    border-radius: 2vw;
    background-color: aquamarine;
    width: 10%;
    padding: 10vw 20% 8vh 20%;
    box-shadow: 4px 4px 5px 3px;
    font: inherit;
    list-style: none;
    font-size: x-large;
}
.split1{
    border: 3px solid grey;
    border-radius: 2vw;
    background-color: aquamarine;
    width: 10%;
    padding: 10vw 20% 10vh 20%;
    margin-top: 27%;
    box-shadow: 4px 4px 5px 3px;
    font: inherit;
    list-style: none;
    font-size: x-large;
    display: inline;
}
.split img{
    border: 3px solid black;
    border-radius: 1vw;
    width: 300%;
    margin-left: -190%;
    margin-top: -90%;
}
.split1 img{
    border: 3px solid black;
    border-radius: 1vw;
    width: 300%;
    margin-left: -190%;
    margin-top: -95%;
}
.split-text{
    margin-top: -160%;
    margin-left: 150%;
     font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .04em;

}
.split1-text{
    margin-top: -160%;
    margin-left: 180%;
    font-size: 21px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: .04em;
}

.ligne{
    background-color: grey;
    margin: 64px 0;
    width: 90%;
    height: 2px;
}
.reseau{
    background-color: aquamarine;
    border: 3px solid grey;
    border-radius: 2vw;
    margin: 50px 0;
    width: 90%;
    margin-top: -1%;
    box-shadow: 4px 4px 5px 3px;
    display: flex;
    justify-content: center;
}
.reseau ul{
    list-style: none;
    text-align: center;
    margin-top: 4vw;
    transition: transform .1s;
    cursor:pointer;
    font-size: 4em;
    word-spacing: 3vw;
    color: rgb(3, 110, 110);
}
.reseau a{
    text-decoration-color:rgb(3, 110, 110) ;
}
.reseau p{
    font-size: x-large;
    word-spacing: -0vw;
    display: flex;
    justify-content: center;
}
@media only screen and (max-width: 800px){
    .split1-text {
        width: 90%;
        margin: 32px 0;
        margin-left: -5vw;
    }
    .split1{
        padding: 0vh 20vw 0vh 20vw;
    }
    .split1 img{
        margin-top: 2vh;
        margin-left: -10vw;
    }
    .split-text {
        width: 90%;
        margin: 32px 0;
        margin-left: -10vw;
    }
    .split{
        padding: 0vh 20vw 0vh 20vw;
    }
    .split img{
        margin-top: 2vh;
        margin-left: -10vw;
    }
    .botom{
        padding-right: 18vw;
    }
    .logo img{
        margin-top: -15vh ;
    }
}

